{%  style  %} 
    .section_space{
        border: {{ section.settings.number_field }}px solid black;
    }
    .radio_section{
        text-align: {{ section.settings.radio_field }};
    }
    .font_size h1{
        font-size: {{ section.settings.font_size }}px;
    }
    .align_item{
        border: 3px solid black;
        display: flex;
        justify-content: {{ section.settings.vertical_alignment }};
    }
    .color_text h1{
        color: {{ section.settings.color_select }};
    }
    .article_container{
        width: 50%;
        border: 2px solid black;
    }
    .article_container img{
        width: 100%;
    }
    .blog_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid black;
    }
    .single_blog{
        border: 1px solid red;
        width: 100%;
    }
    .single_blog img{
        width: 100%;
    }
    .our_all_products{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    .single_collection_product{
        border: 2px solid black;
    }
    .single_collection_product img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        
    }
    .heading_font h1{
        font-family: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }}
    }
    .product_list{
        border: 1px solid black;
    }

{% endstyle %}



<div class="page-width">
    {% if section.settings.checkbox_field %}
        <h1>Checkbox </h1>
    {% endif %}
    <div class="section_space">
        {% if section.settings.number_field %}
            <h1>Number is {{ section.settings.number_field }}</h1>
        {% endif %}
    </div>
    <div class="radio_section">
        <h1>Radio Field</h1>
        <p>Radio {{section.settings.radio_field}}</p>
    </div>
    <div class="font_size">
        {% if section.settings.font_size != blank %}
            <h1>Font Size</h1>
        {% endif %}
    </div>
    <div class="align_item">
        {% if section.settings.vertical_alignment != blank %}
            <h1>Align Item</h1>
        {% endif %}
    </div>
    <div class="color_text">
        {% if section.settings.color_select != blank %}
            <h1>Color</h1>
        {% endif %}
    </div>
    <div>
        {% if section.settings.text_add != blank %}
            <h1>{{ section.settings.text_add }}</h1>
        {% endif %}
    </div>
    <div>
        {% if section.settings.textarea_add != blank %}
            <p>{{ section.settings.textarea_add }}</p>
        {% endif %}
    </div>
    <div class="article_container">
        {% assign article = section.settings.article_field %}
        {{ article.image | image_url: width: 800 | image_tag }}
        <br>
        <small>Author: {{ article.author }}</small> <small>Publish at: {{ article.created_at | date: "%b %d, %Y"}}</small>
        <p>
            {% for tag in article.tags %}
                <span>{{ tag }}</span>
            {% endfor %}
        </p>
        <a href="{{ article.url }}"><h1>{{ article.title }}</h1></a>
        <p>{{ article.content }}</p>
        <p>{{ article.excerpt }}</p>
    </div>
    <h1>Blog</h1>
    <div class="blog_container">
        {%  assign blogs  = section.settings.blog_field %}
        {% for blog in blogs.articles %}
            <div class="single_blog">
                {{ blog.image |  image_url: width: 800 |  image_tag }}
                <a href="{{ blog.url }}"><h1>{{blog.title}}</h1></a>
                <p> {{blog.content}} </p>
            </div>
        {% endfor %}
    </div>
    <div class="collection_container">
        {% assign collection = section.settings.collection_field %}
        <div>
            {{ collection.image | image_url: width: 800 | image_tag }}
        </div>
        <div>
            <a href="{{ collection.url }}">
                <p>Total Products: {{ collection.all_products_count }}</p>
                <p>Collection id: {{ collection.id }}</p>
                <p>Collection handle/url: {{ collection.handle }}</p>
            </a>
        </div>
        <h1>Products of collection</h1>
        <div class="our_all_products">
            {% for product in collection.products %}
                <div class="single_collection_product">
                    {{ product.featured_image |  image_url: width: 800 |  image_tag  }}
                    <a href="{{ product.url }}">
                        <h2>{{ product.title }}</h2>
                    </a>
                    <p>{{ product.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <h1>Collection + products</h1>
    <div class="collection_list">
        {% assign collection_list = section.settings.collection_list_field %}
        {% for collection in collection_list %}
            {{ collection.image |  image_url: width: 800 | image_tag }}
            <h2>{{ collection.title }}</h2>
            <h1>Our collection products - {{ forloop.index }}</h1>
            <div class="our_all_products">
                {% for product in collection.products %}
                    <div class="single_collection_product">
                        {{ product.featured_image | image_url: width: 800 |  image_tag }}
                        <a href="{{ product.url }}">
                            <h2>{{ product.title }}</h2>
                        </a>
                        <p>{{ product.description | truncatewords: 25 }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="section_color" style="background-image: {{ section.settings.bg_gradient }};">
        <h1 class="text_color" style="color: {{ section.settings.text_color }}">Lorem ipsum dolor sit amet.</h1>
    </div>
    <div class="color_scheme color-{{ section.settings.color_scheme }} gradient">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae numquam eos ipsum quasi necessitatibus voluptas.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, molestias iure aliquid neque eligendi atque voluptas delectus velit quidem sit dolorem saepe. Nostrum qui vitae, hic dolorem obcaecati molestiae nobis quaerat necessitatibus quam voluptatibus sunt, iusto accusamus illum saepe quae nemo id sequi sint vero fuga ipsum laudantium quasi. Excepturi?</p>
        <button>Learn More</button>
    </div>
    <div class="heading_font">
        <h1>Hello Bangladesh</h1>
    </div>
    <div>
        <h1>{{section.settings.video_embed}}</h1>
    </div>
    <div>
        <h3>Menu List</h3>
        {%  assign menu = linklists[ section.settings.menu_links ] %}
        <ul>
            {% comment %} first {% endcomment %}
            {% for link in menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                <li>
                    {% if link.links.size > 0 %}
                    <ul>
                        {% comment %} second {% endcomment %}
                        {% for submenu in link.links %}
                            <li>
                                <a href="{{ submenu.url }}">{{ submenu.title }}</a>
                            </li>
                            <li>
                                <ul>
                                    {% if submenu.links.size > 0 %}
                                        {% comment %} third {% endcomment %}
                                        {% for submenu in submenu.links %}
                                            <li>
                                                <a href="{{ submenu.url }}">{{ submenu.title }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>{{ section.settings.liquid_field }}</h2>
    </div>
    <div>
        Page Title : <h2>{{ section.settings.page_field.title }}</h2>
        Page content: <h2>{{ section.settings.page_field.content }}</h2>
    </div>
    <h1>product</h1>
    <div>
        {% assign product = section.settings.product_field %}
        {{ product.featured_image |  image_url: width: 800 |  image_tag }}
        <h3>
            <a href="{{ product.url }}">{{ product.title }}</a>
        </h3>
        {% comment %} <p>{{ product.price | money }}</p> {% endcomment %}
        {% render 'price', product: product %}
    </div>
    <h1>Product List</h1>
    <div>
        {% assign product_list = section.settings.product_list_field %}
        {% for product in product_list %}
            <div class="product_list">
                <div>
                    {{ product.featured_image |  image_url: width: 800 |  image_tag  }}
                </div>
                <h3>
                    <a href="{{ product.url }}">{{ product.title }}</a>
                </h3>
                <p>{{ product.price }}</p>
                {% render 'price', product: product %}
            </div>
        {% endfor %}
    </div>

</div>



{% schema %}
{
    "name": "All Input Fields",
    "settings": [
        {
            "type": "checkbox",
            "id": "checkbox_field",
            "label": "Checkbox",
            "default": true
        },
        {
            "type": "header",
            "content": "Number"
        },
        {
            "type": "number",
            "id": "number_field",
            "label": "Number",
            "default": 10
        },
        {
            "type": "header",
            "content": "Radio"
        },
        {
            "type": "radio",
            "id": "radio_field",
            "label": "Radio",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "left"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "right"
                }
            ]
        },
        {
            "type": "header",
            "content": "Ranges"
        },
        {
            "type": "range",
            "id": "font_size",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Font Size",
            "default": 14
        },
        {
            "type": "header",
            "content": "Select Align"
        },
        {
            "type": "select",
            "id": "vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "header",
            "content": "Select Color"
        },
        {
            "type": "select",
            "id": "color_select",
            "label": "Color",
            "options": [
                {
                    "value": "red",
                    "label": "Red"
                },
                {
                    "value": "green",
                    "label": "Green"
                },
                {
                    "value": "white",
                    "label": "White"
                },
                {
                    "value": "black",
                    "label": "Black"
                },
                {
                    "value": "gray",
                    "label": "Gray"
                },
                {
                    "value": "orange",
                    "label": "Orange"
                }
            ]
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "text",
            "id": "text_add",
            "label": "Text",
            "default": "Quick Links"
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "textarea",
            "id": "textarea_add",
            "label": "TextArea",
            "default": "This is textarea"
        },
        {
            "type": "header",
            "content": "Article"
        },
        {
            "type": "article",
            "id": "article_field",
            "label": "Article"
        },
        {
            "type": "header",
            "content": "Blog"
        },
        {
            "type": "blog",
            "id": "blog_field",
            "label": "Blog"
        },
        {
            "type": "header",
            "content": "Collection"
        },
        {
            "type": "collection",
            "id": "collection_field",
            "label": "Collection"
        },
        {
            "type": "header",
            "content": "Collection List Field"
        },
        {
            "type": "collection_list",
            "id": "collection_list_field",
            "label": "Collection list"
        },
        {
            "type": "header",
            "content": "Color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#00ff00"
        },
        {
            "type": "header",
            "content": "Background"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#000000"
        },
        {
            "type": "header",
            "content": "Gradient"
        },
        {
            "type": "color_background",
            "id": "bg_gradient",
            "label": "Background",
            "default": "linear-gradient(#ffffff, #000000)"
        },
        {
            "type": "header",
            "content": "Color_scheme"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "scheme_1",
            "label": "Color Scheme"
        },
        {
            "type": "header",
            "content": "Font Picker"
        },
        {
            "type": "font_picker",
            "id": "heading_font",
            "label": "Heading Font",
            "default": "helvetica_n4"
        },
        {
            "type": "header",
            "content": "html"
        },
        {
            "type": "html",
            "id": "video_embed",
            "label": "Video embed"
        },
        {
            "type": "header",
            "content": "link_list"
        },
        {
            "type": "link_list",
            "id": "menu_links",
            "label": "Menu"
        },
        {
            "type": "header",
            "content": "liquid"
        },
        {
            "type": "liquid",
            "id": "liquid_field",
            "label": "Battery Message",
            "default": "{% if product.tags contains 'battery' %}This product can only be shipped by ground.{% else %}This product can be shipped by ground or air.{% endif %}"
        },
        {
            "type": "header",
            "content": "page"
        },
        {
            "type": "page",
            "id": "page_field",
            "label": "Page"
        },
        {
            "type": "header",
            "content": "product"
        },
        {
            "type": "product",
            "id": "product_field",
            "label": "Product" 
        },
        {
            "type": "header",
            "content": "product list"
        },
        {
            "type": "product_list",
            "id": "product_list_field",
            "label": "Products",
            "limit": 12
        }

    ],
    "presets": [
        {
            "name": "All Input Fields"
        }
    ]
}
{% endschema %}
